<a href="/">Voltar</a>
<h2>Adicione uma nota:</h2>
<form action="/notes" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="O que você pretende fazer?">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descrição:</label>
       <textarea name="description" id="description" class="form-control" placeholder="Descreva sua atividade em detalhes..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Criar nota</button>
</form>