<a href="/">Voltar</a>
<h2>Editar nota: {{ note.title }}</h2>
<form action="/notes/update" method="POST">
    <input type="hidden" name="id" value="{{ note._id }}">
    <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="O que você pretende fazer?" value="{{ note.title }}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descrição:</label>
       <textarea name="description" id="description" class="form-control" placeholder="Descreva sua atividade em detalhes...">{{ note.description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Salvar nota</button>
</form>